body {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 30px;
}
*{
    font-family: sans-serif;
}
html {
    z-index: 5;
margin: 250px auto;
    text-align: center;
    background-color: lightblue;
}
table{
    z-index: 5;
    margin: auto;
    border-radius: 30px;
}

.deA{
    z-index: 5;
    position: fixed;
    top: .5em;
    right: 1em;
    padding: .5em;
    border-radius: 250px;

}
.deh{
    z-index: 5;
    border-radius: 10px
}
.dee{
    z-index: 5;
    border-radius: 20px;
}

