body {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 30px;
}
*{
    font-family: sans-serif;

}
html {
margin: 250px auto;
    text-align: center;
    background-color: lightblue;
}
table{

    margin: auto;
    border-radius: 30px;

}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
.deA{
    z-index: 10000;
    position: fixed;
    top: .5em;
    right: 1em;
    padding: .5em;
    border-radius: 30px;
}
.deh{
    border-radius: 30px;
}
